body{
	width: 100%;
	height: 1300px;
	margin: 0 auto;
	font-family: helvetica;
	background-size:100%;
	background-attachment: fixed;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
	background-repeat: no-repeat;
}

/*------MENÚ-------*/
.menu{
	width: 80%;
	height: 50px;
	border-top: 0px;
	margin: 0 auto;
	position: relative;
	top: 100px;

}

.nav{
	list-style-type: none;
	width: 90%;
	margin: 0 auto;
	padding-left: 0;
	position: relative;
	top: -60px;
}

.nav2{
	list-style-type:none;
}



.nav li a{
	background-color: #000;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav li a:hover{
	background-color:#434343;
	border-bottom: 2px solid white;
}

.nav > li{
	float:left;
}

.nav li ul{
	display:none;
	position: absolute;
	min-width: 140px;
}

.nav li:hover > ul{
	display: block;
}

.nav li ul li{
	position: relative;
}

.nav li ul li ul{
	right: -140px;
	top: 0px;
}


.clear{
	clear:both;
}

.radius1 {
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.radius2{
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.inicio{
	width: 20px;
	
}


/*-------CONTENIDO-------*/

 section.contenido3{
	height: 800px;
	width: 80%;
	margin:0 auto;
	border: 4px solid white;
	border-radius: 10px;
	position: relative;
	top: 130px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	
}

article.arriba{
	font-family: System;
	font-size:1.3em;
	width: 80%;
	height: 200px;
	border: 4px solid white;
	position: relative;
	top: 50px;
	margin: 0 auto;
}

article.abajo{
font-family: System;
	font-size:1.3em;
    width: 80%;
	height: 200px;	
	border: 4px solid white;
	position:relative;
	top: 50px;
	margin: 0 auto;
	margin-top: 20px;
}

article.center{
font-family: System;
	font-size:1.3em;
	width: 80%;
	height: 240px;	
	border: 4px solid white;
	position:relative;
	top: 50px;
	margin: 0 auto;
	margin-top: 20px;
}

article.arriba p.titulo{
	font-family: mistral;
	text-align: center;
	font-size: 1.5em;
	position: relative;
	top: -20px;
}

article.arriba img{
width: 50%;
margin-left: 300px;
position:relative;
top: -20px;
}

article.arriba p.contenido1{

position:relative;
top: -20px;
padding-left:30px;
padding-right: 30px;
}

article.center p.titulo{
	font-family: mistral;
	text-align: center;
	font-size: 1.7em;
	position: relative;
	top: -20px;
}

article.center img{
width: 30%;
margin-left: 330px;
position:relative;
top: -70px;
}

article.center p.contenido2{
position:relative;
top: -60px;
padding-left:30px;
padding-right: 30px;
}

article.abajo p.titulo{
	font-family: mistral;
	text-align: center;
	font-size: 1.7em;
	position: relative;
	top: -20px;
}

article.abajo p.contenido3{
position:relative;
top: -55px;
padding-left:30px;
padding-right: 30px;
}

article.abajo img{
width: 35%;
margin-left: 325px;
position:relative;
top: -70px;
}



